.header-container
  .header-logo
    | Lucias Bookstore
  .header-navbar.navbar
    .header-navbar-item
      | Home
    .header-navbar-item
      | About
    .header-navbar-item
      | Shop
    .header-navbar-item
      | Contact
    
  .header-search-bar
    | Search For Stuff
