doctype html
html
  head
    title Lucia's Bookstore
    link(rel='stylesheet' href="Skeleton/css/normalize.css")
    link(rel='stylesheet' href="Skeleton/css/skeleton.css")
    link(rel='stylesheet' href="stylesheets/navbar/style.css")
    block stylesheet
  body
    block content
