doctype html
html
  head
    title Lucia's Bookstore
    link(rel='stylesheet' href="Skeleton/css/normalize.css")
    link(rel='stylesheet' href="Skeleton/css/skeleton.css")

  body
    block content
