extends ../layout
block stylesheet
  link(rel='stylesheet' href="stylesheets/admin/style.css")
block content
  include ../header
  .add-book-message
  
  .add-book-container
    .add-book-header
      | Add A Book
    form.add-book(action="/admin/add" method="post")
      .add-book-row
        .six.columns
          label(for='bookTitle') Title
          input#bookTitle.u-full-width(type='text' name='title')
        .six.columns
          label(for='bookAuthor') Authors
          input#bookAuthor.u-full-width(type='text' name='author_name')
            
      .add-book-row
        .six.columns
          label(for='bookPrice') Price
          input#bookPrice.u-full-width(type='number' min="0.01" step="0.01" name='price')
        .six.columns
          label(for='bookGenre') Genres
          input#bookGenre.u-full-width(type='text' name='genre_name')
            
      .add-book-row
        .six.columns
          label(for='imageURL') Image
          input#imageURL.u-full-width(type='text' name='image_url')
        .six.columns
          label(for='pageCount') Page Count
          input#pageCount.u-full-width(type='number' name='page_count')
            
      label(for='bookDescription') Description
      textarea#bookDescription.u-full-width(placeholder='What is this book about?' name='description')

      input.button-primary(type='submit', value='Submit')
