.book-list-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  width: 980px;
}

.book-description {
  flex-grow: 1;
  margin: 0 20px 20px 0;
  min-width: 180px;
  min-height: 359px;
}
.book-description div:not(:first-child) {
  margin-top: 15px;
}

.book-description--image img {
  vertical-align: middle;
  max-width: 180px;
  max-height: 238px;
}

.book-description--image {
  display: flex;
  align-items: center;
  width: 180px;
  height: 238px;
}
